// Body styling
html {
  position: relative;
  min-height: 100%;
}
body{
  //font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: @fsBase;
  font-weight: @light; /*Also loaded 600 for bold*/
  line-height: 1;

  /* Margin top by header height */
  margin-top: 50px;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}