// Hashtags Styling
.hashtags-display{
  cursor: pointer;
  background-color: #fff;
  padding:3px 7px;
  margin-right:8px;
  margin-top: @sp10;
  display: inline-block;
  color:@DarkGrey;
  border: 1px solid #d3d3d3;
  font-weight: 600;
  font-size: 12px;
  border-radius: 3px;
  &:hover {
    background-color: @CoralOrange;
    border: 1px solid @CoralOrange;
    color:#fff;
  }
}
a.hashtag{
  color:@DodgerBlue;
  &:hover{
    cursor: pointer;
  }
}
.user-link{
  display: block;
  text-decoration: none;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: auto;
}


span.hashtags{
  padding:3px 7px;
  margin-right:8px;
  color:#9AD0F9;
  font-size:12px;
  font-weight:500;
  white-space: pre-wrap;
}


.jqueryHashtags span.hashtag{
  background-color:#9AD0F9;
  border-radius: 2px;
  font-size:14px;
  white-space: pre-wrap;
  word-break: break-word;
  line-height:20px;
}

div.div-textarea{
  background-color: #fff;
  padding-top:3px;
  padding-left:6px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #C3C3C3;
}

.jqueryHashtags .highlighter{
  white-space: pre-wrap;
  color:transparent;
  overflow: hidden;
  position: absolute;
  padding-left:7px;
  padding-top:5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:20px;
}

.jqueryHashtags .theSelector{
  position: relative;
  direction: ltr;
  font-size:14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  resize:none !important;
  -webkit-transition: height 0.2s;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 6px;
  vertical-align:middle;
  min-height:48px !important;
  line-height:20px;
}
// Hashtags Styling End