
.action-menu.action-menu-fixed{
  position:fixed;
  top:50px;
}

.action-menu{
  width: 100%;
  background-color: @White;
  max-height: 50px;
  min-height: 50px;
  box-shadow: 0 1px 3px 0 rgba(33, 33, 33, .33);

  .questions-head-button-active{
    background-color:transparent;
  }

  .action-menu-items ul li{
    text-transform: uppercase;
    height: 51px;
    margin: 0 0 0 0;

    border-left: 1px solid rgba(190,190,190,0.2);

    &:last-of-type{
      border-right: 1px solid rgba(190,190,190,0.2);
    }

    &:hover{
      border-bottom: 2px solid @CoralOrange;
    }

    a{
      color: @CoralOrange;
      font-size: @fsMediumSmall;
      height: 50px;
      line-height: 26px;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: color 800ms ease, border-color 500ms ease;
      cursor: pointer;

      &:hover{
        text-decoration: none;
        text-underline: none;
        color:@DarkGrey;
      }
    }
  }
  .navbar-collapse{
    border-color: @WhiteSmoke;
  }
  .navbar-header{
    button{
      border-color: @WhiteSmoke;
      .icon-bar{
      }
      &:hover{
        background-color:transparent;
      }
      &:focus{
        background-color:transparent;
      }

    }
  }
  .active-item{
    border-bottom: 2px solid @CoralOrange;
  }
}

.action-menu-items{
  padding-right: 15px;
}

.navbar-inverse{
  border-color: @WhiteSmoke;
}
.navbar{
 margin-bottom: 0;
}

.action-menu-search{
  height: 100%;
  padding-top: 7px;
}

.action-menu-ask{
  padding-top: 7px;
}

.action-menu-mobile-search{
  padding-bottom: 18px;
  background: @CoralOrange;

  .input-group{
    border: 1px solid @White;
    border-radius: @borderRadiusBase !important;
  }

  .action-menu-search,.action-menu-ask {
    padding-top: 0;
  }
}

.subsystem-bar{
  height: @subsystemBarHeight;
  background: @ASMBlue;
}

.subsystem-heading{
  font-size: @fsHeading1;
  line-height: @subsystemBarHeight;
  color: @White;
  font-weight: @extraLight;
  letter-spacing: -1px;
}


@media only screen and (max-width: @screenPhoneLandScapeSize) {

  .subsystem-bar {
    height: @subsystemBarHeight - 20px;
  }

  .subsystem-heading {
    font-size: @fsLarge;
    line-height: @subsystemBarHeight - 20px;
  }

  .action-menu-mobile-search{
    display: block;

    .action-menu-ask{
      padding-top: 10px;
      text-align: center;

      .com-btn{
        float: none !important;
        margin: 0 auto !important;
      }
    }
  }

  .action-menu{

    .navbar-nav{
      margin: 0;
    }

    .nav>li{
      display: inline-block;

      a{
        letter-spacing: 0;
      }
    }
  }
}