.avatar{
  border-radius: 50%;
}

.avatar-small{
  height: 25px;
  width: 25px;
}

.avatar-medium{
  height: 50px;
  width: 50px;
}

.avatar-x-large{
  height: 150px;
  width: 150px;
}

.clear-padding-left{
  padding-left: 0 !important;
}

.clear-padding-right{
  padding-left: 0 !important;
}

@media only screen and (max-width: @screenPhoneLandScapeSize) {
  .avatar-x-large{
    height: 100px;
    width: 100px;
  }
}