.search-bar{
  margin-bottom: @sp40;
}

.search-bar__col2{
  text-align: right;
  font-size: @fsLarge;
  color: @DimGrey;
  font-weight: @light;
  line-height:190%;
}

.search-bar__col3{

  button{
    float: right;
  }
}

@media only screen and (max-width: @screenTabletSize) {

  .search-bar{
    margin-bottom:40px;
  }

  .search-bar__col2{
    margin: 5px 0;
    text-align: center;
  }

  .search-bar__col3{
    text-align: center;

    button{
      float: none;
      margin: 0 auto;
    }
  }
}

// Phone Screen Changes
@media only screen and (max-width: @screenPhoneSize) {

  .search-bar{
    margin-bottom:60px;
  }

  .search-bar__col3{
    button{
      width: 100%;
    }
  }
}