// Modal Styling
.modal-success{
  border: 2px solid @LimeGreen;
  .modal-header{
    background-color:  @LimeGreen;
    padding: @sp10;
    font-size:  14px;
    font-weight: 700 ;
    color :#FFFFFF
  }
  .modal-body{
    padding: @sp10;
    font-weight: 500 ;
    color: @DarkGrey
  }
  .modal-link{
    float: right;
    color: @LimeGreen;
    margin-right: @sp10;
    margin-bottom: @sp10;
    font-weight: @bold ;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.modal-error{
  border: 2px solid @IndianRed;
  .modal-header{
    background-color:  @IndianRed;
    padding: @sp10;
    font-size:  14px;
    font-weight: @bold ;
    color :#FFFFFF
  }
  .modal-body{
    padding: @sp10;
    font-weight: @medium ;
    color: @DarkGrey
  }
  .modal-link{
    float: right;
    color: @IndianRed;
    margin-right: @sp10;
    margin-bottom: @sp10;
    font-weight: @bold ;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }
}


@media (min-width: @screenDesktopSize){
  .modal-lg{
    width: 600px;
  }
}

@media (min-width: @screenTabletSize) {
  .modal-lg{
    width: 600px;
  }
}

@media (min-width: @screenPhoneLandScapeSize) {
  .video-modal.modal-sm{
    width: 600px;
  }
}


.modal {
  text-align: center;
}

@media screen and (min-width: 0) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


// Modal Styling End

// Video Modal Styling
.video-modal{
  .modal-header{
    padding: 0 0 @sp5 0 ;
    .modal-title{
      display: inline-block;
    }
    span{
      margin-top: @sp5;
      float: right;
      i{
        font-size:20px;;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}
// Video Modal Styling End