.heading-1{
    font-size: @fsHeading1;
    font-weight: @light;
    letter-spacing: @lsHeading1;
    margin-bottom: @sp30;
    //text-transform: uppercase;
}


.no-questions{
    font-weight: @light;
    display: block;
    letter-spacing: @lsHeading1;
    margin-bottom: @sp30;
    margin-top: @sp30;
    color: @MidGrey;
}

@media only screen and (max-width: @screenPhoneLandScapeSize) {

}