<actionmenu items="vm.actionMenuList" hide-ask="true"></actionmenu>
<div class="container ask-question">
    <div class="row main-container edit-question">
        <div class="col-md-8 col-sm-8">
            <form name="myForm">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-10">
                        <h1 class="community-h1">Edit answer</h1>
                    </div>
                </div>
                <div class="row title-row">
                    <div class="col-md-12">
                        <textarea class="edit-textarea" ng-model="vm.answer.text"></textarea>
                    </div>
                </div>

                <div class="row submit-answer-button">
                    <div class="col-md-12">
                        <button class="com-btn com-btn--primary pull-right"
                                ng-class="{'progress-button': vm.loading}"
                                ng-click="vm.updateAnswer()">
                            <span ng-if="vm.loading" class='icon-spinner icon-spinning'></span>
                            <span ng-if="!vm.loading">Save</span>
                        </button>
                        <button class="com-btn com-btn--secondary pull-right" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>