
<ul class="az-nav-sub dropdown-menu">
    <li class="az-nav-sub-heading">Notifications</li>
    <li class="az-nav-sub-item-notification clearfix">
        <img src="https://s3.amazonaws.com/amazing.avatars/185094-771593358es-3.jpg" alt="" class="avatar avatar-small pull-left">
        <span class="notification-list-info">
            <span class="notification-list-item notification-type">Welcome to Amazing.com</span>
            <span class="notification-list-item notification-detail">Complete your profile <a href="" class="hashtag">@AlexaDavies</a> </span>
            <span class="notification-list-item notification-time">1hr</span>
        </span>
    </li>
    <li class="az-nav-sub-item-notification clearfix">
        <img src="https://s3.amazonaws.com/amazing.avatars/185094-771593358es-3.jpg" alt="" class="avatar avatar-small pull-left">
        <span class="notification-list-info">
            <span class="notification-list-item notification-type">Welcome to Amazing.com</span>
            <span class="notification-list-item notification-detail">Detaillkadf lsadfj aslkdfj alskdfj </span>
            <span class="notification-list-item notification-time">2hrs</span>
        </span>
    </li>
</ul>