<section class="local-tabs-container clearfix">
    <h2 class="local-tabs-title">{{heading}}</h2>
    <ul class="local-tabs clearfix">
        <li ng-repeat="item in tabItems" ng-class="{'local-tabs__tab--selected' : item.active}" class="local-tabs__tab">
            <a ng-href="#/{{::item.link}}">{{::item.text}}</a>
        </li>
    </ul>
</section>