<actionmenu items="vm.actionMenuList"></actionmenu>
<div class="container question-answers">
    <div class="row main-container">
        <div class="col-md-12">
            <div class="row question-box clear-padding-left">
                <div class="col-md-3 col-sm-2 avatar-container">
                    <img class="main-avatar avatar avatar-x-large" ng-if="vm.question.user.avatarUrl"  ng-src="{{vm.question.user.avatarUrl}}">
                    <img class="main-avatar avatar avatar-x-large" ng-if="!vm.question.user.avatarUrl"  ng-src="img/defaultAvatar.png">
                    <a class="user-link"  ng-href="#/profile/{{vm.question.user.username}}">@{{::vm.question.user.username}}</a>
                </div>
                <div class="col-md-9 col-sm-10">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="question-title" hashtagify term-click="vm.tagClick($event)" ng-model="vm.question.text">{{::vm.question.text}}</p>
                            <p class="time">{{vm.question.created_at | timeFilter}}</p>
                            <p class="question-description" hashtagify term-click="vm.tagClick($event)" ng-model="vm.question.detail">{{::vm.question.detail}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="hashtags-display" ng-click="vm.searchTag(tag.name)" ng-repeat="tag in vm.question.tags">#{{tag.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" ng-if="vm.is_mentor">
                    <i class="icon-pencil-22 edit-icon" ng-click="vm.editQuestion()"></i>
                    <i class="icon-bin edit-icon" ng-click="vm.deleteQuestion()"></i>
                </div>
                <div class="col-md-12" ng-if="vm.question.lessonId">
                    <p class="question-lesson">This question relates to the lesson: <a ng-href="{{vm.lessonLink}}" target="_blank">{{vm.question.lessonTitle}}</a></p>
                </div>
            </div>
            <div class="row avatar-list">
                <div class="col-md-12 avatar-box">
                    <span class="answers-count">{{(vm.answers.length || 0) | wordPluralFilter: 'Answer': true}}</span>
                    <span class="hidden-sm hidden-xs avatar-box-image" ng-repeat="answer in vm.answers | limitTo:4">
                        <img ng-if="answer.user.avatarUrl"  ng-src="{{answer.user.avatarUrl}}" class="avatar avatar-medium">
                        <img ng-if="!answer.user.avatarUrl"  ng-src="img/defaultAvatar.png" class="avatar avatar-medium">
                    </span>
                    <span class="hidden-sm hidden-xs avatar-box-more" ng-if="vm.answers.length > 4">
                        + {{vm.answers.length - 4}} more
                    </span>
                    <button type="button" class="com-btn com-btn--primary com-btn--primary_mod"
                            ng-if="!vm.expandAnswerBox"
                            ng-click="vm.showAnswerBox()">
                        Post my Answer
                    </button>
                </div>
            </div>
            <div class="row post-answer-container animated-content" ng-if="vm.expandAnswerBox">
                <div class="col-md-12">
                    <h4><strong>My Answer</strong></h4>
                </div>
                <form name="answerForm">
                    <div class="col-md-12">
                        <textarea smart-text-area
                                  words="vm.suggestedWords"
                                  name="textarea"
                                  ng-blur="vm.onBlur()"
                                  required
                                  ng-maxlength="{{::vm.answerMaxLength}}"
                                  scroll-to-view="vm.expandAnswerBox"
                                  placeholder="Add your answer here. Use #tags to reference courses and/or topics."
                                  ng-model="vm.answerMsg"></textarea>
                    </div>
                    <div class="col-md-12">
                        <div ng-if="vm.showInlineError && !vm.answerMsg">
                            <span class="error-text">Please enter an answer.</span>
                        </div>
                        <div class="error-container">
                            <div ng-if="vm.errorMsg" class="warning-alert animated-content">
                                <span>{{vm.errorMsg}}</span>
                            </div>
                        </div>
                        <button class="com-btn com-btn--primary post-answer" ng-disabled="answerForm.$invalid"  ng-click="vm.postAnswer()">
                            <i ng-show="vm.loading" class='icon-spinner icon-spinning'></i>
                            <span ng-show="!vm.loading">Post my Answer</span>
                        </button>
                        <button class="com-btn com-btn--secondary cancel-post-answer" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="row" ng-if="vm.answers.length === 0">
                <div class="col-md-12">
                    <div class="no-answers">
                        <h1 class="community-h1__mod">There Are No Answers For This Question Yet.</h1>
                        <a href="#/questions" class="com-btn com-btn--secondary com-btn--secondary_mod">View All Questions</a>
                    </div>
                </div>
            </div>
            <div class="animated-content" ng-repeat="answer in vm.answers | orderBy:['-accepted','-votes.count', '-created_at']" scroll-to-view="answer.shouldScroll">
                <div class="row answer-box divider" ng-class="{'selected--answer': answer.accepted === 1}">
                    <div class="col-md-12 container__mod" ng-if="answer.accepted === 1">
                        <i class="icon-tick text__mod"></i>
                        <span class="text__mod">Selected Answer</span>
                    </div>
                    <div class="col-md-1 col-xs-6 col-sm-6 vote">
                        <div class="vote-wrapper">
                            <a class="vote-up icon-chevron-up"
                               uib-tooltip="{{vm.getTooltipText(answer)}}"
                               ng-class="{'voted': answer.votes.hasCurrentUserVoted}"
                               ng-click="vm.vote(answer)"></a>
                            <span class="vote-count">{{answer.votes.count || 0}}</span>
                            <span class="vote-text">{{answer.votes.count | wordPluralFilter: 'Vote': false}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-6 col-sm-6 avatar-container">
                        <div class="avatar-container-wrapper">
                            <img class="avatar avatar-medium" ng-if="answer.user.avatarUrl"  ng-src="{{::answer.user.avatarUrl}}">
                            <img class="avatar avatar-medium" ng-if="!answer.user.avatarUrl"  ng-src="img/defaultAvatar.png">
                            <a class="user-link" ng-href="#/profile/{{answer.user.username}}">@{{::answer.user.username || 'GraceFreeman'}}</a>
                            <span ng-if="answer.user.isMentor === 1" class="mentor">ASM Mentor</span>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12 ">
                        <div class="row">
                            <div class="col-md-12 answer-text">
                                <p class="time">{{answer.created_at | timeFilter}}</p>
                                <div hashtagify term-click="vm.tagClick($event)" ng-model="answer.text" class="question-description">{{::answer.text}}</div>
                            </div>
                            <div class="col-md-12" ng-if="vm.is_mentor">
                                <i class="icon-pencil-22 edit-icon" ng-click="vm.editAnswer(answer)"></i>
                            </div>
                            <div class="col-md-12" ng-if="vm.canUserAcceptAnswer()">
                                <button class="com-btn com-btn--accept" ng-click="vm.acceptAnswer(answer)">Accept Answer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>