<div class="row search-bar">
    <div class="col-md-8 col-sm-12">
        <div class="input-group">
            <input type="text" placeholder="Search questions and answers" class="form-control az-form-control az-form-control-x-lg" ng-model="item" ng-keyup="$event.keyCode == 13 ? search() : null" />
            <span class="input-group-btn">
                <button class="btn com-btn com-btn--primary com-btn--x-large com-btn--x-wide" ng-click="search()">Search</button>
            </span>
        </div>
    </div>
    <div class="col-md-1  col-sm-12 search-bar__col2">or</div>
    <div class="col-md-3  col-sm-12 search-bar__col3">
        <button class="com-btn com-btn--secondary com-btn--x-large" ng-click="goToAskQuestion()">Ask a Question</button>
    </div>
</div>