<actionmenu items="vm.actionMenuList" query="vm.query"></actionmenu>
<div class="container question-answers">
    <section>
        <h1 class="heading-1">{{vm.questions.length}} Results for '{{vm.query}}'</h1>
    </section>

    <section class="container-fluid">
        <question-item delete-question="vm.deleteQuestion(question, $index)"  question="question" ng-repeat="question in vm.questions"></question-item>
        <div ng-if="vm.errorMsg">
            <span>{{vm.errorMsg}}</span>
        </div>
    </section>
</div>