<actionmenu items="vm.actionMenuList" hide-ask="true"></actionmenu>
<div class="container ask-question">
    <div class="row main-container edit-question">
        <div class="col-md-8 col-sm-8">
            <form name="myForm">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-10">
                        <h1 class="community-h1">Edit question</h1>
                    </div>
                </div>
                <div class="row title-row">
                    <div class="col-md-12" scroll-to-view
                         should-scroll="vm.titleError">
                        <textarea class='mention-question-title question-autocomplete question-title-input'
                                  placeholder="What’s your question? Be specific."
                                  maxlength="140"
                                  ng-maxlength="140"
                                  ng-class="{'focus-question-detail': vm.focusField, 'input-error': vm.titleError && vm.questionTitle.length < 10}"
                                  ng-focus="vm.setFieldFocus()"
                                  focus-field
                                  ng-model="vm.question.text"></textarea>

                        <textarea class='mention-question-detail question-autocomplete question-detail-input'
                                  placeholder="Add more detail here. #Tags help people find and answer your question."
                                  ng-class="{'focus-question-detail': vm.focusField}"
                                  ng-focus="vm.setFieldFocus()"
                                  ng-maxlength="10000"
                                  maxlength="10000"
                                  ng-model="vm.question.detail"></textarea>
                    </div>
                </div>

                <div class="row submit-answer-button">
                    <div class="col-md-12">
                        <button class="com-btn com-btn--primary pull-right"
                                ng-class="{'progress-button': vm.loading}"
                                ng-click="vm.updateQuestion()">
                            <span ng-if="vm.loading" class='icon-spinner icon-spinning'></span>
                            <span ng-if="!vm.loading">Save</span>
                        </button>
                        <button class="com-btn com-btn--secondary pull-right" ng-click="vm.cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>